doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cash Register

    // GoogleWebFont
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap", rel="stylesheet")

    // Favicon 
    link(rel="apple-touch-icon", sizes="57x57", href="./images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="./images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="./images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="./images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="./images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="./images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="./images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="./images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="./images/favicon/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192", href="./images/favicon/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./images/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="./images/favicon/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./images/favicon/favicon-16x16.png")
    link(rel="manifest", href="./images/favicon/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="./images/favicon/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")

    // XEIcon 
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")

    link(rel='stylesheet', href="./css/index.css")
    script(src="./js/index.js" defer)
  body
    main.mainContainer 
      section.sectionLogoContainer 
      section.sectionCashRegisterContainer 
        article.articleCashRegisterTopLeftContainer 
          nav.navOrderListContainer 
            h2.h2OrderListTitle 주문 리스트
            ul.ulOrderListContainer
        article.articleCashRegisterTopRightContainer 
          nav.navProductContainer 
            ul.ulProductContainer 
        article.articleCashRegisterBottomLeftContainer 
          nav.navCashRegisterResultContainer 
            ul.ulCashRegisterResultContainer 
              li.liOrderQuantityContainer 
                h3.h3OrderQuantityTitle 주문 수량
                span.spanOrderQuantity 0
              li.liOrderTotalContainer 
                h3.h3OrderToTalTitle 주문 합계
                span.spanOrderTotal 0
            .divMoneyReceivedContainer 
              label.labelMoneyReceivedTitle(for="inputMoneyReceived") 지불 금액: 
                input.inputMoneyReceived(type="text")
              button.buttonCashRegister 거스름돈 확인        
        article.articleCashRegisterBottomRightContainer
          .divPaymentContainer 
            nav.navPaymentContainer 
              ul.ulPaymentContainer 
                li.liPaymentContainer
                  span.spanPayment 50,000
                  span.spanPaymentQuantity 0
                li.liPaymentContainer
                  span.spanPayment 10,000
                  span.spanPaymentQuantity 0
                li.liPaymentContainer
                  span.spanPayment 5,000
                  span.spanPaymentQuantity 0
                li.liPaymentContainer
                  span.spanPayment 1,000
                  span.spanPaymentQuantity 0
                li.liPaymentContainer
                  span.spanPayment 500
                  span.spanPaymentQuantity 0
                li.liPaymentContainer
                  span.spanPayment 100
                  span.spanPaymentQuantity 0
                li.liPaymentContainer
                  span.spanPayment 50
                  span.spanPaymentQuantity 0
                li.liPaymentContainer
                  span.spanPayment 10
                  span.spanPaymentQuantity 0
            .divButtonContainer 
              .divCashRegister 거스름돈
                span.spanCashRegister 0
              button.buttonReset 초기화
      section.sectionPortfolio 본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다.